	body {
	    margin-left: 6em;
	    margin-right: 12em;
	    font-size: 14px;
	    font-family: "Helvetica Neue", Helvetica;
	}

	h1, h2, h3, h4, h5, h6 { text-align: left }

	h1, h2, h3, h4, h5 { color: #000000;}
	h2 { font: 140% sans-serif }
	h3 { font: 120% sans-serif }
	h4 { font: bold 100% sans-serif }
	h5 { font: italic 100% sans-serif }
	h6 { font: small-caps 100% sans-serif }

	.margintop {
		 margin-top: 40px;
	}



	/* rect {
	   fill: none;
	   pointer-events: all;
	 }*/

	 rect {
	   fill:black;
	   stroke:none;
	 }

	 line {
	   stroke: #000;
	   stroke-width: 1.5px;
	 }

	 .string, .regexp {
	   color: #f39;
	 }


	 a:link, a:visited {
	   color: #666;
	   text-decoration: none;
	 }

	 a:hover {
	   color: #000
	   font-size: 4px;
	 }


	/*extra css*/

	.node circle {
	  cursor: pointer;
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}

	.node text {
	  font-size: 12px;
	}

	path.link {
	  fill: none;
	  stroke: #990033;
	  stroke-width: 1px;
	}


	.infoentity {
	    stroke: red;
	    stroke-width: 1.5px;
	    opacity: 0.2;
		background: linen;
		line-height: 0.2em;
	}


	.smalldesc {
		font-size: 20px;
		margin-top: 0px;
		color: black;
	}


	.hidden {
		display: none;
	}

	kbd {
		padding: 2px 4px;
	    font-size: 10%;
	    color: #fff;
	    background-color: #333;
	    border-radius: 3px;
	    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);border-image-outset:
	}

	/*slider*/

	.side-panel{
		background-color: #E6E6E6;
		padding: 10px;
		/*word-wrap: break-word;*/
	    overflow: auto;
	}

	.side-panel-left{
		box-shadow: -5px 0 15px -6px #585858 inset;
	}

	.side-panel-right{
		box-shadow: 5px 0 15px -6px #585858 inset;
	}

	a.class {
		color: darkred;
	}
	a.prop {
		color: darkblue;
	}

	.turtlesource {
		font-size: 10px;
	}

	dt {
		color: darkslategrey;
	}

	.text-muted {
		color: grey;
	}

	hr {
		margin-top: 20px;
	    margin-bottom: 20px;
	}

    .credits {
        color: gray;
    }

    a.greylink {
        color: #666;
        text-decoration: underline;
    }

    .section-title {

        font-size: smaller;
    }
